/* Utilities classes  */
/* .red-bor {
  border: 2px solid red;
}
.green-bor {
  border: 2px solid green;
}
.black-bor {
  border: 2px solid black;
}
.blue-bor {
  border: 2px solid blue;
} */

/* CSS Variables  */
:root {
  --theme-colour: #5f9df7;
  --text-colour: #ffffff;
  --normal-para-size: 18px;
  --category-para-size: 12px;
  --publish-date-para-size: 13px;
  
}

/* Logo CSS Starts Here  */
.logo {
  text-align: center;
}

.logo img {
  height: 80px;
}

/* Media-Query of Logo  */
@media (max-width: 992px) {
  .logo img {
    height: 70px;
  }
}

@media (max-width: 768px) {
}

@media (max-width: 576px) {
  .logo img {
    height: 60px;
  }
}

@media (max-width: 311px) {
  .logo img {
    height: 45px;
  }
}

/* Navbar CSS Starts here  */

/* Footer Css  */
#footer {
  color: #ffffff;
  background-color: #004abe;
}

#footer img {
  /* max-height: 60px; */
  max-width: 220px;
  margin-bottom: 10px;
}

.footer-left p {
  font-size: var(--normal-para-size);
}

.footer-mid p {
  font-size: var(--normal-para-size);
}

.footer-right p {
  font-size: var(--normal-para-size);
  margin-bottom: 8px;
}

/* # Footer MediaQuieries  */
@media (max-width: 992px) {
  #footer img {
    max-height: 130px;
    max-height: 130px;
  }
}

@media (max-width: 768px) {
  #footer img {
    max-height: 150px;

  }
}



@media (max-width: 311px) {
  #footer img {
    max-height: 50px;
    
  }
 
}

/* Social Icon CSS  */
#social-icons .box {
  margin-right: 15px;
}

#social-icons a {
  color: white;
  font-size: var(--normal-para-size);
}
#social-icons a:hover {
  color: bisque;
}

/* Social Icons Mediaqueries  */
@media (max-width: 576px) {
  #social-icons a {
    font-size: 12px;
  }
}

/* Advertisment Images CSS Starts Here  */

.rec{
  text-align: center;
}
.ntpc{
  text-align: center;
}

.ntpc img{
  height: 150px;
}



/* Main Post CSS Starts Here  */
.main-post .category{
  font-size: var(--category-para-size);
  margin: 10px 0 5px 0;
  background-color: red;
  display: inline-block;
  color: white;
  padding: 0 4px;
}

.main-post .publish-date{
  font-size: var(--publish-date-para-size);
  margin: 0 0 5px 0 ;
}

.main-post .description{
  font-size: var(--category-para-size);
  margin: 5px 0 10px 0;
}


.main-post a{
  color: black;
  text-decoration: none;
}

.main-post a:hover{
  color: red;
}


/* Side Post CSS Starts Here  */

.side-post img{
  width: 100vw;
  height: 200px;
}

.side-post .publish-date{
  font-size: var(--publish-date-para-size);
  margin: 0 0 5px 0 ;
}

.side-post h4{
  line-height: 28px;
}

.side-post a{
  color: black;
  text-decoration: none;
}

.side-post a:hover{
  color: red;
}

/* Bottom Post CSS Starts Here  */
.bottom-post a{
  color: black;
  text-decoration: none;
}


.bottom-post a:hover{
  color: red;
}

.bottom-post .publish-date{
  font-size: var(--publish-date-para-size);
  margin: 0 0 5px 0 ;
}

.bottom-post .description{
  font-size: var(--normal-para-size);
}

.bundle{
  font-size: 22px;
  margin: 10px 0 5px 0;
  background-color: red;
  display: inline-block;
  color: white;
  padding: 0 4px;
}


/* Detail Post CSS Starts Here  */
.detail-post .category{
  font-size: var(--category-para-size);
  margin: 10px 0 5px 0;
  background-color: black;
  display: inline-block;
  color: white;
  padding: 0 4px;
}


.detail-post .publish-date{
  font-size: var(--publish-date-para-size);
  margin: 0 0 5px 0 ;
}


.detail-post .text-red{
  color: red;
}


.detail-post .description{
  font-size: var(--normal-para-size);
}

.detail-post .small{
  font-size: var(--publish-date-para-size);
  margin: 4px 0 20px 0
}

.detail-post a{
  color: red;
  text-decoration: none;
}

.detail-post .head{
  font-size: 33px;
  margin: 10px 0 20px 0;
}

.detail-post .end{
  font-size: 20px;
  margin-bottom: 25px;
}


/* Media-Query of All Type of Post  */
@media (max-width: 992px) {
  
}

@media (max-width: 768px) {
}

@media (max-width: 576px) {
  .side-post img{
    width: 100vw;
    height: 200px;
  }
}

@media (max-width: 311px) {
  
}